body{
  margin: 0px;
  padding: 0px;
}
// main{
//   background-color: #1c1325fc;
//   box-sizing: border-box;
//   width:1440px;
// }
 #bg-starsId{
 width:1440px;
 height: 569px;
 background-color: #1c1325fc;
}
#bg-footer{
  width:1440px;
  height:197px;
}
#rec{
  background-color: green;
  height: 200px;
  position: relative;
  bottom: 50px;
}
