body{
  margin:auto 0;
  padding: 0;

}

 #bg-starsId{
 width:100%;
 height: 100vh;
 background-color: #1c1325fc;
}
#bg-footer{

}
#rect{
fill:  hsl(236, 25%, 20%);
}
.text{
  fill:hsl(345, 95%, 68%);
  font-size: 100px;
  font-weight: bold;
}
