

.date-time-dashboard{
  width:60%;
  height: 180px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin:0px;
  padding: 0px;
  li{
    width:160px;
    height: 160px;
    background-color:$color-secondary;
    margin:10px;
  }

}
