

.date-time-dashboard{

  width:60%;
  height: 180px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin:0px;
  padding: 0px;

  li{

    width:160px;
    height: 160px;
    background-color: $dark-desurated-blue;
    box-shadow: 0 0 10 5 black;
    margin:10px;
    border-radius: 20px;

    section{

      margin:0 auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      span{

        margin-top: 20px;
        font-size: 100px;
        text-align: center;
        color: $color-secondary;
        font-family: $font-main;
      }
    }
  }

}
.date-time-descriptions{

  width:60%;
  height: 50px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin:0px;
  padding: 0px;
  color: $greyish-blue;
  font-family: $font-main;

}
